<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" . }}Art Gallery{{ end }}</title>
    <link rel="stylesheet" href="/normalize.css" />
    <style>
      html {
        font-size: 10px;
        text-align: center;
      }
      img {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    </style>
  </head>

  <body>
    {{ block "body" . }}
      <!-- No content. -->
    {{ end }}
  </body>
</html>
